/* ------- BOTÕES */

.button {
  font-family: var(--font-roboto);
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  min-width: 40px;
  display: inline-block;
  text-align: center;
  position: relative;
} 

.fill-btn {
  composes: button;
  height: 40px;
  color: var(--white);
  background-image: var(--brand-gradient-down);
  box-shadow: 0px 5px 25px 0px var(--grey-a010);
}

.fill-btn:hover {
  box-shadow: 0px 5px 25px 0px var(--grey-a030);
  filter: brightness(115%);
}

.fill-btn:visited, .fill-btn:active, .fill-btn:link {
  color: var(--white);
}

